{% extends 'main.html'%}
{% load widget_tweaks %}
{% block content %}


<h1>Bag Costs</h1>

<table class="table table-striped">
    <th>
        <tr>
            <td>Bag Type</td>
            <td>Description</td>
            <td>Bag Weight</td>
            <td>Cost Per Bag</td>
            <td>Bag Length</td>
            <td>Waste Percentage</td>
            <td>Labor Cost</td>
            <td>Total Cost</td>
        </tr>
    </th>
   
    <tr>
        <form action="" method="POST">
            {% csrf_token %}
            <!-- <td>{{ form.boxType }}</td> -->
            <td>{% render_field form.bagType class="form-control" name="boxType" %}</td>
            <td>{{form.description }}</td>
            <td>{{ form.bagWeight }}</td>
            <td>{{ form.costPerBag }}</td>
            <td>{{ form.bagLength }}</td>
            <td>{{ form.wastePercentage }}</td>
            <td>{{ form.laborCost }}</td>
            <td>{{ form.totalCost }}</td>

            <td><button class="btn btn-success">Apply</button></td>
        </form> 
    </tr>
</table>
{% endblock %}

{% include 'bagCostsForm.html' %}