{% extends 'main.html'%}
{% load widget_tweaks %}
{% block content %}
<h1>Bag Costs</h1>

<table class="table table-striped">
    <th>
        <tr>
            <td>Box Type</td>
            <td>Description</td>
            <td>Bag Weight</td>
            <td>Cost Per Bag</td>
            <td>Bag Length</td>
            <td>Waste Percentage</td>
            <td>Labor Cost</td>
            <td>Total Cost</td>
        </tr>
    </th>
    {% for bagCost in bagCosts %}
    <tr>
        <td> {{ bagCost.boxType }}</td>
        <td> {{ bagCost.description }}</td>
        <td> {{ bagCost.bagWeight }}</td>
        <td> {{ bagCost.costPerBag }}</td>
        <td> {{ bagCost.bagLength }}</td>
        <td> {{ bagCost.wastePercentage }}</td>
        <td> {{ bagCost.laborCost }}</td>
        <td> {{ bagCost.totalCost }}</td>
        <td> {{ bagCost.costFinal }}</td>
        <td><a href="{% url 'updateBagCostEntry' bagCost.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
        <td><a href="{% url 'deleteEntry' bagCost.id %}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
    {% endfor %}
    <tr>
        <form action="" method="POST">
            {% csrf_token %}
            <!-- <td>{{ form.boxType }}</td> -->
            <td>{% render_field form.boxType class="form-control" name="boxType" %}</td>
            <td>{{form.description }}</td>
            <td>{{ form.bagWeight }}</td>
            <td>{{ form.costPerBag }}</td>
            <td>{{ form.bagLength }}</td>
            <td>{{ form.wastePercentage }}</td>
            <td>{{ form.laborCost }}</td>
            <td>{{ form.totalCost }}</td>

            <td><button class="btn btn-success">+Add</button></td>
        </form> 
    </tr>
</table>
{% endblock %}

{% include 'bagCostsForm.html' %}