{% extends 'main.html'%}
{% load widget_tweaks %}
{% block content %}


<h1>Bag Type</h1>
<div class="table-responsive">
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Bag Style</th>
            <th>Description</th>
            <th>Misc Charges</th>
        </tr>
    </thead>
   
    <tr>
        <form action="" method="POST">
            {% csrf_token %}
            <td>{{form.bagType }}</td>
            <td>{{ form.description }}</td>
            <td>{{ form.miscCharges }}</td>
            <td><button class="btn btn-success">Apply</button></td>
        </form> 
    </tr>
</table>
</div>
{% endblock %}

{% include 'bagCostsForm.html' %}