{% extends 'main.html'%}

{% block content %}
<h1>Box Types</h1>

<table class="table table-striped">
    <th>
        <tr>
            <td>Box Style</td>
            <td>Description</td>
            <td>Misc. Charges</td>
            <td></td>
        </tr>
    </th>
    {% for boxType in boxTypes %}
    <tr>
        <td> {{ boxType.boxType }}</td>
        <td> {{ boxType.description }}</td>
        <td> {{ boxType.miscCharges }}</td>
        <td><a href="{% url 'updateBagCostEntry' boxType.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
        <td><a href="{% url 'deleteEntry' boxType.id %}" class="btn btn-danger btn-sm">Delete</a></td>

    </tr>
    {% endfor %}
</table>
{% endblock %}