{% extends 'main.html' %}

{% block content %}
<h1>this is the home page</h1>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Bag Types </h5>
            <p class="card-text">Create, edit, and delete different bag styles</p>
            <a href="/bagtypes" class="btn btn-primary"> Go to list </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Bag Costs </h5>
            <p class="card-text">Create, edit, and delete different bag styles</p>
            <a href="/bagcosts" class="btn btn-primary"> Go to list </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Packaging Costs </h5>
            <p class="card-text">Create, edit, and delete different bag styles</p>
            <a href="/pkgcosts" class="btn btn-primary"> Go to list </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Commodities </h5>
            <p class="card-text">Create, edit, and delete different bag styles</p>
            <a href="/commodities" class="btn btn-primary"> Go to list </a>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Styles </h5>
            <p class="card-text">Create, edit, and delete different bag styles</p>
            <a href="/bagtypes" class="btn btn-primary"> Go to list </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Admin </h5>
            <p class="card-text">Create, edit, and delete different bag styles</p>
            <a href="/bagcosts" class="btn btn-primary"> Go to list </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Packaging Costs </h5>
            <p class="card-text">Create, edit, and delete different bag styles</p>
            <a href="/pkgcosts" class="btn btn-primary"> Go to list </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Commodities </h5>
            <p class="card-text">Create, edit, and delete different bag styles</p>
            <a href="/commodities" class="btn btn-primary"> Go to list </a>
        </div>
    </div>
</div>

{% endblock %}