{% extends 'main.html'%}
{% load widget_tweaks %}
{% block content %}
<h1>Labor Costs</h1>
<a href="{% url 'laborCost-report' %}" target="_blank" class="btn btn-primary btn-sm">Printable PDF</a>

<div class="table-responsive">
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Bag Type</th>
            <th>People</th>
            <th>Bags Per Minute</th>
            <th>Wages Per Hour</th>
            <th>Labor Per Bag</th>
            <th></th>
        </tr>
    </thead>
    {% for laborCost in laborCosts %}
    <tr>
        <td> {{ laborCost.bagType }}</td>
        <td> {{ laborCost.people }}</td>
        <td> {{ laborCost.bagsPerMinute }}</td>
        <td> {{ laborCost.wagesPerHour }}</td>
        <td> {{ laborCost.laborPerBag }}</td>
        <td><a href="{% url 'update-laborCosts' laborCost.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
        <td><a href="{% url 'delete-laborCosts' laborCost.id %}" class="btn btn-danger btn-sm">Delete</a></td>
    
    </tr>
    {% endfor %}

    <tr>
        <form action="" method="POST">
            {% csrf_token %}
            <!-- <td>{{ form.boxType }}</td> -->
            <td>{% render_field form.bagType class="form-control" name="bagType" %}</td>
            <td>{{form.people }}</td>
            <td>{{ form.bagsPerMinute }}</td>
            <td>{{ form.wagesPerHour }}</td>
            <td>{{ form.laborPerBag}}</td>
            <td><button class="btn btn-success">+Add</button></td>
        </form> 
    </tr>
</table>
</div>  
    
{% endblock %}