{% extends 'main.html'%}
{% load widget_tweaks %}
{% block content %}
<h1>Misc. Packaging</h1>
<a href="{% url 'miscPackaging-report' %}" target="_blank" class="btn btn-primary btn-sm">Printable PDF</a>

<div class="table-responsive">
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Description</th>
            <th>Cost</th>
            <th>Box Charge Chile</th>
            <th></th>
        </tr>
    </thead>
    {% for miscPackage in miscPackaging %}
    <tr>
        <td> {{ miscPackage.description }}</td>
        <td> {{ miscPackage.cost }}</td>
        <td> {{ miscPackage.boxChargeChile }}</td>
        <td><a href="{% url 'update-miscPackaging' miscPackage.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
        {% if miscPackage.description != "Pallet" %}
        <td><a href="{% url 'delete-miscPackaging' miscPackage.id %}" class="btn btn-danger btn-sm">Delete</a></td>
        {% else %}
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}

    <tr>
        <form action="" method="POST">
            {% csrf_token %}
            <td>{{form.description }}</td>
            <td>{{ form.cost }}</td>
            <td><button class="btn btn-success">+Add</button></td>
        </form> 
    </tr>
</table>
</div>  
    
{% endblock %}