{% extends 'main.html'%}
{% load widget_tweaks %}
{% block content %}
<h1>Packaging</h1>
<a href="{% url 'packaging-report' %}" target="_blank" class="btn btn-primary btn-sm">Printable PDF</a>

<div class="table-responsive">
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Cost</th>
            <th>Box Charge Chilean</th>
        </tr>
    </thead>
    {% for package in packaging %}
    <tr>
        <td> {{ package.description }}</td>
        <td> {{ package.cost }}</td>
        <td> {{ package.boxChargeChile }}</td>
        <td><a href="{% url 'update-packaging' package.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
        <td><a href="{% url 'delete-packaging' package.id %}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
    {% endfor %}

    <tr>
        <form action="" method="POST">
            {% csrf_token %}
            <td>{{ form.description }}</td>
            <td>{{ form.cost }}</td>
            <td></td>
            <td><button class="btn btn-success">+Add</button></td>
        </form> 
    </tr>
</table>
</div>
    
{% endblock %}