{% extends 'main.html'%}
{% load widget_tweaks %}
{% block content %}
<h1>Packaging Costs</h1>

<table class="table table-striped">
    <th>
        <tr>
            <td>Box Style</td>
            <td>Film Cost/Meter</td>
            <td>Net Cost/Meter</td>
            <td>Vexar Clip Cost</td>
            <td>Misc. Cost</td>
            <td></td>
        </tr>
    </th>
    <tr>
        <form action="" method="POST">
            {% csrf_token %}
            <!-- <td>{{ form.boxType }}</td> -->
            <td>{% render_field form.boxType class="form-control" name="boxType" %}</td>
            <td>{{form.filmCostPerMeter }}</td>
            <td>{{ form.netCostPerMeter }}</td>
            <td>{{ form.vexarClipCost }}</td>
            <td>{{ form.miscCost }}</td>
            <td><button class="btn btn-success">Apply</button></td>
        </form> 
    </tr>
</table>
    
{% endblock %}