{% extends 'main.html'%}
{% load widget_tweaks %}
{% block content %}
<h1>Styles</h1>

<div class="container" style="max-width: 75%;">
<div class="row">
<div class="col-sm-4 border">
    <div class="container card-body">
        <div class="row">
            <div class="col-sm-5" style="text-align: left;">
            <h2>Properties</h2>
        </div>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-5" style="text-align: right;">
                    <p>Commodity</p>
                </div>
                <div class="col-sm-5">
                    <p>{% render_field form.commodity class="form-control" name="commodity" %}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5" style="text-align: right;">
                    <p>Bag Type</p>
                </div>
                <div class="col-sm-5">
                    <p class="bagType">{% render_field form.bagType class="form-control" name="boxType" %}</p>
                    </div>
            </div>

            <div class="row">
                <div class="col-sm-5" style="text-align: right;">
                    <p>TWB_Flag</p>
                </div>
                <div class="col-sm-5">
                    <p>{% render_field form.twb_flag class="form-control" name="twb_flag" %}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5" style="text-align: right;">
                    <p>Count</p>
                </div>
                <div class="col-sm-5">
                    <p>{{ form.count }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5" style="text-align: right;">
                    <p>Bag Size</p>
                </div>
                <div class="col-sm-5">
                    <p>
                        <select id="bagSize_selector" name="size" class="form-control">
                            <option value="{{ style.bagSize }}">{{style.bagSize}}</option>
                        </select>
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-5" style="text-align: right;">
                    <p>Weight</p>
                </div>
                <div class="col-sm-5">
                    <p>{{ form.weight }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5" style="text-align: right;">
                    <p>Flag</p>
                </div>
                <div class="col-sm-5">
                    <p>{{ form.flag }}</p>
                </div>
            </div>
                <p><button class="btn btn-success">Apply</button></p>


        </form>
    </div>
</div>


<div class="col-sm-4 border">
    <div class="row">
        <div class="col-md">
            <h2>Derived Values</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" style="text-align: right;">
            <p>Domestic Conversion</p>
        </div>
        <div class="col-sm-5">
            <input class="form-control narrow" value="{{style.conversionDomestic}}" readonly></input>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" style="text-align: right;">
            <p>Chile Conversion</p>
        </div>
        <div class="col-sm-5">
            <input class="form-control narrow" value="{{style.conversionChile}}" readonly></input>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" style="text-align: right;">
            <p>Count Size</p>
        </div>
        <div class="col-sm-5">
            <input class="form-control narrow" value="{{style.countSize}}" readonly></input>
            <p></p>
        </div>
    </div>
    
</div> 

<div class="col-sm-4 border">
    <div class="row">
        <div class="col-sm-5">
            <h2>Adjustments</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="text-align: right;">
            <p>Pallets Adjustment</p>
        </div>
        <div class="col-sm-5">
            <input class="form-control narrow" value="${{ style.palletsAdjustment }}" readonly></input>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" style="text-align: right;">
            <p>Promo Adjustment</p>
        </div>
        <div class="col-sm-5">
            <input class="form-control narrow" value="${{style.promoAdjustment}}" readonly></input>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" style="text-align: right;">
            <p>Packing Adjustment</p>
        </div>
        <div class="col-sm-5">
            <input class="form-control narrow" value="${{style.packingAdjustment}}" readonly></input>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" style="text-align: right;">
            <p>Fruit Loss Adjustment</p>
        </div>
        <div class="col-sm-5">
            <input class="form-control narrow" value="${{style.fruitLossAdjustment}}" readonly></input>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" style="text-align: right;">
            <p>Total Adjustment</p>
        </div>
        <div class="col-sm-5">
            <input class="form-control narrow" value="${{style.totalAdjustment}}" readonly></input>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" style="text-align: right;">
            <p>Domestic Sales Cost</p>
        </div>
        <div class="col-sm-5">
            <p>AWAITING DATA</p>
        </div>
    </div>

    

</div>
</div>

<table id="mp_table" class="table table-striped">
<form action="" method="POST">
    {% csrf_token %}
    <tr>
        <th> Description</th>
        <th> Cost </th>
        <th> Box Difference </th>
        
        <th></th>
    </tr>
    {% for i in miscPackaging %}
        <tr>
            <td>{{i.description}}</td>
            <td>{{i.cost}}</td>
            <td>{{i.boxDifference_set.boxDiff}}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>
            <select id="mp_selector" name="mp" class="form-control">
                {% for mp in mp_all %}
                <option value="{{ mp.id }}">{{mp.description}}</option>
                {% endfor %}
            </select>
        </td>
        <td><a id="mp_button" class="btn btn-primary btn-sm">Save</a>
        <a href="#" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
</form>
</table> 

<input id="style_id" readonly hidden value="{{style.id}}"></input>

</div>
<script>
    window.onload = function(){
        let bags = document.querySelectorAll(".bagType")
        let child = bags[0]

        child.addEventListener("change", function (e) {

            $.ajax({
                type: "POST",
                url: "/data/getweights/",
                data: {
                    id: e.target.value,
                }
            }).done((o) => {

                var sizeArr = []
                var selector = document.getElementById("bagSize_selector");
                if (selector.hasChildNodes) {
                    while (selector.firstChild) { selector.firstChild.remove() }
                }
                for (const [key, size] of Object.entries(o)) {
                    var el = document.createElement("option");
                    el.textContent = size;
                    el.value = size;
                    selector.appendChild(el);
                }
            });
        })
    
        let miscPackaging_button = document.getElementById("mp_button")
        let miscPackaging_select = document.getElementById("mp_selector")
        let style_id = document.getElementById("style_id").value
        let miscPackaging_table = document.getElementById("mp_table")

        console.log(style_id)

        miscPackaging_button.addEventListener("click", function(e) {

            $.ajax({
                type:"POST",
                url: "/data/updateStyleRelation/",
                data: {
                    // miscPackaging_k: miscPackaging_select.key,
                    miscPackaging_v: miscPackaging_select.value,
                    styleid: style_id

                }
            }).done((o)=> {
                window.location.reload()
        })
    })
}

</script>
<style>
    .form-control:read-only{
        background-color: white;
        margin-bottom: 1rem;
    }
    .narrow{
        max-width: 5rem;
        text-align: center;
    }
    .border{
        border: 1px solid black;
    }
</style>
{% endblock %}