<nav class="navbar navbar-expand-sm navbar-light">
    <div class="navbar">
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/data/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data/bagtypes">Bag Types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data/bagcosts">Bag Costs</a>
        <li class="nav-item">
          <a class="nav-link" href="/data/pkgcosts">Packaging Costs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data/commodities">Commodities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data/styles">Styles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data/boxDiff">Box Difference</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data/packaging">Packaging</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
          <p class="nav-link">Hello, {{ request.user.first_name }}</p>
        
          <a class="nav-link" href="/logout">Logout</a>
        {% else %}
          <a class="nav-link" href="/login">Login</a>
        {% endif %}
      </ul>
    </div>
</nav>