body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
th, td {
    text-align: center;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    font-size: 9pt;
}
td{
    padding-top:3px ;
}
.logo_header {
    height: 50;
}
.logo {
    text-align: center;
}
.currSign:before {
    content: '$';
}